<ion-view title="Pup Profile">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">All Pups</ion-item>
            <ion-item ui-sref="spike">Spike</ion-item>
            <ion-item ui-sref="bella">Bella</ion-item>
            <ion-item ui-sref="max">Max</ion-item>
        </ion-list>
        <form class="list"></form>
        <div class="button-bar">
            <button class="button button-stable button-block button-small">My Schedule</button>
            <button class="button button-stable button-block button-small">Schedule a Walk</button>
        </div>
        <button class="button  button-block button-small">Walk History</button>
        <a ui-sref="newPup" class="button  button-block button-small">Add Dog</a>
    </ion-content>
</ion-view>